.container {
  margin: 20px;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.Names{
  font-weight: bold;
  color: #0036a3;
  cursor: pointer;
  text-decoration: underline;
}
.table th, .table td {
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: transparent;
  text-align: center;
}

.Searchbar{
  display: flex;
  justify-content: space-between;
padding: 1%;
outline: none;
border: 1px solid #ccc;
border-radius: 10px;
margin: 2% 0;
width: 40%;
}

.search{
  outline: none;
  border: none;
  width: 70%;
}

.title{
font-weight: bold;
color: #0036a3;
}

.icon {
  margin-right: 10px;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.customers-list {
  flex: 3;
}